
/* General */

#main-body,
#form-body,
#respond-body{
    font-family: 'Montserrat', sans-serif;
    /* color: #313030; */
    font-size: 20px;
}

/* index */

@font-face {
    font-family: myFirstFont;
    src: url("../images/Stay Wildy.ttf");
}
#main-body{
    background: url(../images/city-night.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

#header {
    color: white;
    font-size: 200px;
    margin-top: 20px;
    font-family: myFirstFont;
}

#date-night-button {
    /* color: white; */
    margin-top: 20px;
}

/* old front page css */
/* #main-body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0, 0, 0, 0.2)), url(../images/romantic.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-div{
    height: 250px;
    width: 470px;
    margin-top: 100px;
    margin-left: 25px;
    background-color: #e9e5e525;
}

.main-div p,
.main-div h1,
.main-div button{
    position: relative;
    left: 5%;
    top:30px;
    color:#f8f5f5;
}

.main-div h1{
    font-size: 60px;
} */


/* form */

#form-body{
    /* background-image: url(../images/romantic.jpg);  */
    background: url(../images/concert2.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.paragraph-container{
    background-color: #e9e5e531;
    width: 30%;
    margin-left: 13%;
    margin-top: 3%;
    padding:3px;
}

.form-paragraph{
    margin-top: 3%;
    margin-left: 15%;
    color:#f8f5f5;
}

.options-list{
    background-color: #e9e5e58c;
    width: 74%;
    margin-top: 20px;
    margin-left: 13%; 
    color:#5e5b5b;
}

.form-c{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 20px;
}

.form-c div,
.form-c select{
margin-top: 5px;
margin-bottom: 10px;
}

.form-c button{
    margin-right:20px;
    margin-top: 20px;
}

#carousel-container {
    margin-bottom: 20px;
    background-color:black; 
    margin-top:10px;
    padding-bottom: 20px;
}

#yelpCarousel {
    height: 500px;
    background-color: black;
    margin-bottom: 20px;
}

#eventfulCarousel {
    height: 500px;
    background-color: black;
}

#yelpCarousel img {
    max-width: 275px;
    max-height: 275px;
    padding-top: 20px;
}

#eventfulCarousel img {
    max-width: 275px;
    max-height: 275px;
    padding-top: 20px;
}

.carousel-caption-1 h3 {
    color: white;
    text-align: center;
}
.carousel-caption-2 h3 {
    color: white;
    text-align: center;
}
.carousel-caption-3 h3 {
    color: white;
    text-align: center;
}
.carousel-caption-4 h3 {
    color: white;
    text-align: center;
}
.carousel-caption-5 h3 {
    color: white;
    text-align: center;
}

.carousel-caption-1B h3 {
    color: white;
    text-align: center;
}
.carousel-caption-2B h3 {
    color: white;
    text-align: center;
}
.carousel-caption-3B h3 {
    color: white;
    text-align: center;
}
.carousel-caption-4B h3 {
    color: white;
    text-align: center;
}
.carousel-caption-5B h3 {
    color: white;
    text-align: center;
}



/* Responde */

#respond-body{
    background-image: url(../images/purple-gradient.jpeg);
}

.section-results {
    text-align: center;
}